<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">noterious</h3>

<div class="jumbotron">
    <h1  style="float: left">TFS To Go</h1>
    <img src="images/build.jpg" alt="Tfs to Go">
    <br style="float: none"/>
    
</div>

  <p class="lead">
      <label>Select a Build:</label>
      <option></option>
   
</div>

<div class="row marketing">
  results go here
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> Chyno Logic LLC</p>
</div>
